---
services:
  hbd:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: hbd
    volumes:
      - ./data:/app/data
    ports:
      - "8417:8417"
      - "8418:8418"
    environment:
      - DB_TYPE=sqlite
      - DATABASE_URL=/app/data/hbd.db
      - MASTER_KEY=35e150e7ca83247f18cb1a37d61d8e161dddec06027f5db009b34da48c25f1b5
      - PORT=8418
      - ENVIRONMENT=development
      - CUSTOM_DOMAIN=https://hbd.lotiguere.com
      - GIN_MODE=debug
