---
services:
  hbd:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: hbd
    ports:
      - "8417:8417"
      - "8418:8418"
    environment:
      - DB_TYPE=sqlite
      - DATABASE_URL=/app/backend/hbd.db
      - MASTER_KEY=35e150e7ca83247f18cb1a37d61d8e161dddec06027f5db009b34da48c25f1b5
      - PORT=8418
      - ENVIRONMENT=production
      - CUSTOM_DOMAIN=https://hbd.lotiguere.com

networks:
  default:
    name: hbd-network

volumes:
  hbd-data:
    driver: local
